.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: violet;
    background: linear-gradient(#9e009e, #740074d7);
    color: #eeeeee;
    padding: 0.8rem;
    height: 3rem;
}
